@import "tailwindcss";

@layer components {
    .base-container {
        @apply flex flex-col h-screen w-full overflow-hidden bg-gray-100 sm:flex-row;
    }

    .sidebar-container {
        @apply flex flex-col shadow-sm px-0 py-3 transition-all duration-700 ease-in-out bg-white fixed lg:static top-0 left-0 h-full z-50;
    }

    .sidebar-link {
        @apply flex gap-4 h-14 px-5 rounded-tr-sm rounded-br-sm items-center border-r-4 border-transparent transition-all duration-250 ease-in-out hover:bg-blue-300 hover:shadow-sm hover:border-blue-500;
    }

    .sidebar-link-img {
        @apply h-10 w-10 flex shrink-0 items-center justify-center rounded-full bg-gray-200;
    }

    .sidebar-link-label {
        @apply text-nowrap text-lg font-bold overflow-x-hidden;
    }

    .sidebar-link-active {
        @apply bg-blue-500 text-white shadow-sm border-blue-500;
    }

    .sidebar-link-active .sidebar-link-img {
        @apply bg-white;
    }

    .sidebar-link-active .sidebar-link-label {
        @apply text-white;
    }

    .content-container {
        @apply flex-1 flex flex-col w-full h-full;
    }

    .content-topbar {
        @apply flex items-center justify-between h-20 pl-9 pr-3 py-4 shadow-sm bg-white sticky top-0 z-40;
    }

    .main-content {
        @apply flex flex-col h-full w-[98%] mb-1 pt-4 rounded-sm mx-auto overflow-y-scroll;
    }

    .login-bg-img {
        @apply bg-[url('/background_img.jpg')] bg-cover bg-center bg-no-repeat opacity-90;
    }

    .loader {
        @apply border-4 border-white border-t-transparent rounded-full animate-spin h-5 w-5;
    }

    .loader-dark {
        @apply border-4 border-gray-800 border-t-transparent rounded-full animate-spin;
    }

    .bread-crumb {
        @apply flex text-sm text-gray-500
    }

    .bread-crumb-list {
        @apply inline-flex items-center space-x-1
    }

    .bread-crumb-list-item {
        @apply flex items-center
    }

    .btn-primary {
        @apply flex w-auto bg-blue-500 text-white text-base md:text-lg p-2 rounded-md items-center justify-center cursor-pointer font-bold active:bg-blue-600 active:shadow-sm transition-all duration-300 ease-in-out disabled:bg-blue-300 disabled:cursor-not-allowed disabled:opacity-70;
    }

    .btn-danger {
        @apply flex w-auto bg-red-500 text-white text-base md:text-lg p-2 rounded-md items-center justify-center cursor-pointer font-bold active:bg-red-600 active:shadow-sm transition-all duration-300 ease-in-out disabled:bg-red-300 disabled:cursor-not-allowed disabled:opacity-70;
    }

    .form-label {
        @apply block text-gray-700 font-semibold mb-2
    }

    .text-box {
        @apply flex items-center p-2 rounded-md w-full gap-3 bg-gray-50 focus-within:ring-blue-500 focus-within:ring-2 focus-within:border-gray-400 focus-within:shadow-sm transition-all duration-250 ease-in-out
    }

    .text-box-danger {
        @apply ring-red-500 ring-2 border-red-400 shadow-sm
    }

    .text-box-default {
        @apply ring-gray-500 ring-2 border-gray-500 shadow-sm
    }

    .vs__dropdown-toggle {
        @apply flex items-center p-2 rounded-md w-full gap-3 bg-gray-50 focus-within:ring-2 focus-within:ring-blue-500 focus-within:border-gray-400 focus-within:shadow-sm transition-all duration-250 ease-in-out;
        height: 42px;
    }

    .vs__dropdown-menu {
        @apply bg-gray-50 border border-gray-200 rounded-md shadow-lg;
    }

    .vs__selected {
        @apply text-gray-800;
    }

    .dropdown-danger {
        @apply ring-red-500 ring-2 border-red-400 shadow-sm rounded-md
    }

    .dropdown-default {
        @apply ring-gray-500 ring-2 border-gray-500 shadow-sm rounded-md
    }

    .modal-container-bg {
        @apply fixed inset-0 flex items-center justify-center bg-black/50 z-50
    }

    .modal-header {
        @apply flex flex-row h-auto justify-between items-center border-b-2 border-gray-50 shadow-sm p-2
    }

    .modal-footer {
        @apply flex flex-row h-auto justify-end items-center border-t-2 border-gray-50 p-2;
        box-shadow: 0 -2px 1px rgba(0, 0, 0, 0.1);
    }

    .modal-body {
        @apply h-auto p-2
    }

    .upload-image-container {
        @apply flex items-center justify-center bg-gray-50 hover:bg-gray-300 p-3 rounded-sm transition-all duration-300 ease-in-out cursor-pointer
    }

    .upload-image-button {
        @apply flex items-center w-fit h-fit p-2 justify-center rounded-full cursor-pointer bg-gray-50 opacity-0 border-transparent border-2 active:bg-gray-300 active:border-gray-500 transition-all duration-300 ease-in-out
    }

    .tab-navigation-container {
        @apply flex border-b border-gray-200 gap-0.5
    }

    .tab-navigation {
        @apply px-4 py-2 border-t-2 border-l-2 border-r-2 text-base font-medium focus:outline-none cursor-pointer
    }

    .active-tab-navigation {
        @apply border-blue-500 bg-blue-400 rounded-tr-lg rounded-tl-lg font-bold text-white hover:text-black hover:bg-blue-200 transition-all duration-300 ease-in-out;
        box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
    }

    .inactive-tab-navigation {
        @apply text-gray-500 border-transparent hover:text-black transition-all duration-300 ease-in-out
    }

    .sales-drawer-toggle {
        @apply fixed bottom-6 right-6 flex items-center justify-center text-white rounded-full shadow-xl md:hidden cursor-pointer transition-all duration-500 ease-in-out h-14 w-14 bg-blue-500 hover:bg-blue-400 rotate-0;
    }

    .sales-drawer-toggle-icon {
        @apply text-3xl transform transition-transform duration-500;
    }

    .sales-drawer-toggle-badge {
        @apply absolute -top-1 -right-1 bg-red-500 text-white text-xs font-bold rounded-full h-5 w-5 flex items-center justify-center shadow;
    }

    .sales-invoice-drawer {
        @apply flex flex-col shadow-sm px-0 pt-5 pb-3 transition-all duration-700 ease-in-out bg-white fixed rounded-md md:static top-0 right-0 h-full z-50;
    }

    .sales-invoice-drawer-header {
        @apply relative flex justify-between mb-2 h-10 items-center;
    }

    .sales-invoice-drawer-header-toggle-btn {
        @apply absolute text-xl font-bold cursor-pointer border-t-4 border-transparent transition-all duration-250 ease-in-out -left-15 top-6 h-fit w-fit items-center justify-center shrink-0 rounded-t-md hover:border-blue-500 bg-white hidden md:flex rotate-270 py-1 px-2;
    }

    .sales-invoice-drawer-header-close-btn {
        @apply block leading-none items-center justify-center text-center text-black rounded-full md:hidden cursor-pointer transition-all duration-500 ease-in-out h-10 w-10 bg-gray-50 hover:bg-red-500 hover:text-white rotate-180;
    }

    .sales-invoice-drawer-header-close-btn-icon {
        @apply h-full w-full text-2xl font-bold transform transition-transform duration-500 text-nowrap;
    }
}